body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.6em;
  margin: 50px auto 0 auto;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
}
.top {
  background-color: #d3e4cd;
  position: relative;
  margin: 0;
  padding-top: 100px;
}

.avatar {
  height: 150px;
  width: 150px;
}

.middle {
}

.bottom {
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  left: 200px;
}

.moutain {
  margin: 0;
}

.skills {
  position: relative;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.dataGif {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.jsGif {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}
